$block:'Logo';

.#{$block}Container{
    position: absolute;
    top: 25px;
    left: 10%;
    @media only screen and (max-width:768px){
        top: 10px;
        left: 3%;
        .#{$block}dimension{
            width: 120px;
        }
    }
}